.Dictionary .content-container {
    background-color: var(--secondary-color);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
}

.text-center {
    text-align: center;
}

.italic-text {
    font-style: italic;
}

.bold-text {
    font-weight: 700;
}

/* .Dictionary .Results {
    backdrop-filter: saturate(80%);
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/image.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: orange;
    background-blend-mode: multiply;
} */

.Dictionary form input {
    width: 100%;
}

.Dictionary .phonetics-container {
 display: flex;
 place-content: center;
 flex-direction: column;
 align-items: center;
}

.Dictionary .phonetic-container {
    display: flex;
    align-items: center;
}

@media (max-width: 700px) {
    
    .Dictionary .phonetic-container {
        align-items: center; /**/
    }
}

.Dictionary .Meaning.container > * {
    padding: .5rem 0;
}

@media (max-width: 800px) {
    .Dictionary .content-container {
            margin: 1rem;
        }

}