.Dictionary .content-container {
    background-color: var(--secondary-color);
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 50px 2px rgba(0 0 0 / .1);
}

.text-center {
    text-align: center;
}

.italic-text {
    font-style: italic;
}

.bold-text {
    font-weight: 700;
}


.error-img {
    max-width: 50%;
    margin: 1rem auto;
}
/* .Dictionary .Results {
    backdrop-filter: saturate(80%);
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/image.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: orange;
    background-blend-mode: multiply;
} */


.Dictionary form .flex-parent {
    display: flex;
    gap: 3%;
    height: 3rem;
}


.Dictionary form input[type='search'] {
    width: 75%;
    flex-shrink: 1;
    border: solid 1px rgba(0 0 0 / .2);
    border-radius: 5px;
    padding: 0 1rem;
    transition: box-shadow .2s ease;
    background-color: var(--secondary-color);
}

.Dictionary form input[type='search']:focus-visible {
    outline: none;
}

.Dictionary form input[type='search']:focus {
    box-shadow: 0 0 0 4px rgba(31, 116, 152, 0.3);
}

.Dictionary form .search-button {
    background-image: url('../img/bkg-button.jpg');
    background-size: cover;
    color: white;
    min-width: 22%;
    flex-shrink: 0;
    padding: 0 .5rem;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    letter-spacing: .2rem;

}

.Dictionary form .search-button:hover {
    cursor: pointer;
    box-shadow:  4px 4px rgba(0 0 0 / .5);
    filter: brightness(110%);
}


.Dictionary .hint {
    margin-top: 1rem;
    font-size: .8rem;
    text-align: start;
}

.Dictionary h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
}


.Dictionary .phonetics-container {
 display: flex;
 place-content: center;
 flex-direction: column;
 align-items: center;
 gap: 1rem;
}

.Dictionary .phonetic-container {
    display: flex;
    align-items: center;
}

.Dictionary .phonetic-container .icon-sound {
    pointer-events: none;
}


.Dictionary audio {
    border: solid 2px red; 
    display: none;
}

.Dictionary .audio-container {
    margin-left: 1rem;
    cursor: pointer;
}

.Dictionary .audio-container:hover {
    filter: brightness(120%);
}

.Dictionary .definition-container > * {
    margin: .5rem 0;
}


.Dictionary .Gallery {
    /* display: flex;
    flex-wrap: wrap;
    gap: 2%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.Dictionary .Gallery .picture-container {
    aspect-ratio: 1 / 1;
    border-radius: 2%;
    overflow: hidden;
    /* background-image: attr(data-src url); NEFUNGUJE  */
}

.Dictionary .Gallery .picture {
    height: 100%; /*because I receive landscape img, I can set the height on 100% to fill the parent div*/
    position: relative; /* -||- */
    left: -25%; /* -||- */
    transition: transform .5s ease, filter .5s ease;
    cursor: pointer;
    filter: grayscale(50%);
}

.Dictionary .Gallery .picture:hover {
    transform: scale(1.05);
    filter: grayscale(20%);
}



.Dictionary .Meaning.container>* {
    padding: .5rem 0;
}

@media (max-width: 830px) {
    .Dictionary .content-container {
            margin: 1rem;
        }


}

@media (max-width: 700px) {

    .Dictionary .phonetic-container {
        align-items: center;
        /**/
    }

    .error-img {
        max-width: 70%;
        margin: 1rem auto;
    }

}

