* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


.App {
  text-align: center;
  --primary-color: #562;
  --secondary-color: #555;
  --accent-color: rgb(117, 86, 211);
}

.App-header {
  background-color: var(--primary-color);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
