* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  --primary-color: #562;
  --secondary-color: rgb(246, 246, 246);
  --accent-color: rgb(117, 86, 211);
  color: rgb(49, 49, 49);
}

.Container {
    max-width: 800px;
    margin: 0 auto;
}

.App .icon {
height: 35px;
}

.Container .container-hero-section {
  position: absolute;
  inset: 0;
  /* background-color: rgba(0 0 0 / .1); */
}


/************* HERO IMAGES***********/

.Container .container-hero-section .flex-parent-human {
display: flex;
justify-content: flex-end;
align-items: flex-end;
position: absolute;
inset: 0;
}

.Container .container-hero-section .hero-teaset {
  width: 200px;
}

.Container .container-hero-section .hero-teapot {
width: 160px;
}

.Container .container-hero-section .hero-teacup {
  width: 80px;
  position: absolute;
  right: 40%;
  bottom: -20px;
}

.Container .container-hero-section .hero-plate {
  width: 200px;
  position: absolute;
  bottom: 0;
}

.Container .container-hero-section .hero-human {
  width: 320px;
}
.Container .container-hero-section .hero-books {
  width: 200px;
}



/*****************/ 

.Container-header {
  color: transparent;
  padding: 1rem;
  text-align: center;
  font-size: 4rem;
  background-image: url('./img/bkg-h1.jpg');
  background-size: cover;
  background-clip: text;
  filter: brightness(130%);
}

.Container-header h1 {
  display: flex;
  justify-content: space-between;

}

.App footer {
  margin: 2rem 1rem;
  letter-spacing: .1rem;
}

.App footer a {
  text-decoration: none;
  color: var(--primary-color);
}

.App footer a:hover {
  color: var(--primary-color);
  font-weight: 500;
}

.App footer .social-links-container, .App footer .social-links-container > * {
 margin: 1rem; 
}

.App footer .social-links-container a:hover > img {
filter: brightness(125%);
}

.App footer a:visited, .App footer a:visited > img {
  filter: brightness(150%);
}



.App .showImg-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0 0 0 / .6);
  display: grid;
  place-items: center;
  z-index: 100;
}

.App .showImg {
  border-radius: 5px;
}


@media (min-width: 1200px) {
 .Container-header {
  /*hero section together with the Dictionary form */
    min-height: 85vh;
    margin-left: -10rem;
 }

 .Container .form-container {
  width: 80%;
  top: 45vh;
  position: absolute;
  margin-left: -8.5rem;
 }

 .Container form {
 max-width: 70%;
 position: absolute;
 left: 0;

 }

 .Container .container-hero-section {
  height: 95vh;
 }
}

@media (max-width: 1200px) {
  .Container-header {
    min-height: 75vh;
  }

  .Container .container-hero-section {
    /*flex do sirky containeru*/
    height: 85vh;
  }

  .Container .container-hero-section .hero-teaset {
    display: none;
  }
}


@media (max-width: 830px) {
  .Container-header {
    font-size: 3rem;
  }
}

@media (max-width: 520px) {
  .Container-header {
      font-size: 2rem;
      padding-bottom: 0;
    }
  
}

@media (max-width: 350px) {
  .Container-header {
    font-size: 1.5rem;
  }

}