* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  padding: 1rem;
}


.App {
  --primary-color: #562;
  --secondary-color: rgb(246, 246, 246);
  --accent-color: rgb(117, 86, 211);
  max-width: 800px;
  margin: 0 auto;
  color: rgb(49, 49, 49);
}

.App-header {
  color: transparent;
  padding: 1rem;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 1rem;
  background-image: url('https://images.unsplash.com/photo-1528459199957-0ff28496a7f6');
  background-size: cover;
  background-clip: text;
}

@media (max-width: 830px) {
  .App-header {
    font-size: 3rem;
    letter-spacing: 0;
  }
}

@media (max-width: 500px) {
  .App-header {
      font-size: 2rem;
    }
  
}

@media (max-width: 350px) {
  .App-header {
    font-size: 1.5rem;
  }

}